<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="https://fonts.googleapis.com/css?family=Overpass:300,400,600,800">
    <link rel=stylesheet type=text/css href=schema_doc.css>
    <title>Title</title>
</head>
<body>

{% macro schema_list(schemas, examples) -%}
    <ul>
        {% for schema in schemas | sort(attribute="version", reverse=True) %}
            <li>
                <a href="{{ schema.full_name }}.json">{{ schema.version }}</a>
                [<a href="{{ schema.full_name }}.html">Reference</a>]
                {% if examples[schema.name][schema.version] %}
                    [<a href="{{ examples[schema.name][schema.version].full_name }}.json">Example</a>]
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{%- endmacro %}

<h1>Schema Collection</h1>
This is a public collection of XML and JSON schemas, used and provided by exasol.

<h2>Exasol Document Mapping Language (EDML)</h2>

The EDML is a JSON-based domain specific language.
You can use it to configure the mapping of document data to Exasol tables when using a <a
        href="https://github.com/exasol/virtual-schema-common-document">document virtual schema</a>, see the <a
        href="https://github.com/exasol/virtual-schema-common-document/blob/main/doc/user_guide/edml_user_guide.md">EDML
    user guide</a>.

{{ schema_list(schemas['edml'], examples) }}


<h2>Exasol Error Code Report</h2>

The Exasol error code report is a JSON report that is generated by local crawlers (e.g. <a
        href="https://github.com/exasol/error-code-crawler-maven-plugin/">error-code-crawler-maven-plugin</a>)
from the source code. It lists all error codes defined in the project together with some metadata. The report format is
standardized by this JSON-Schema. The result is rendered by <a href="https://github.com/exasol/error-catalog">error-catalog</a>.

{{ schema_list(schemas['error_code_report'], examples) }}

<h2>Exasol Project Metrics</h2>

{{ schema_list(schemas['project-metrics'], examples) }}


<h2>Information for Contributors</h2>
See <a href="https://github.com/exasol/schemas/blob/main/doc/README_new.md">README</a> for details.
</body>
</html>